<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        /* Black table */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }
    </style>
    <meta charset="UTF-8">
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul>
    <li><a href="#IMDB">IMDB</a></li>
    <li><a href="#Movies">Movies</a></li>
</ul>
<div class="container">

    <h1 style="font-family: 'Arial Black'">Create Movie</h1>
    <form method="Post" th:action="@{/create}">
        <br>

        <p>Title: <br>
            <input type="text" name="Title" size="40"><br></p>
        <br>
        <p>Year: <br><input type="Integer" name="Year" value="dd/mm/yy" size="40"><br></p>
        <br>
        <p>Duration: <br><input type="text" name="Duration" size="40"><br></p>
        <br>
        <p>Genre: <br><input type="text" name="Genre" size="40"><br></p>
        <button type="button" class="btn btn-success" >Create</button></p>

    </form>
</div>
</body>
</html>